*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family: Helvetica;margin:0;width: 100vw;height: 100vh;font-family: Helvetica;margin: 0;display: flex;}

h1{
  font-size: clamp(6vh, 7.5vw, 6vh);
}

h2{
  font-size: clamp(5vh, 6.5vw, 5vh);
}

h3{
  font-size: clamp(4vh, 5.5vw, 4vh);
}

h4{
  font-size: clamp(3vh, 4.5vw, 3vh);
}

h5{
  font-size: clamp(2vh, 3.5vw, 2vh);
}

h6{
  font-size: clamp(1vh, 2.5vw, 1vh);
}

.p1{
  font-size: clamp(1vw, 4vw, 2rem);
}

.p2{
  font-size: clamp(.75vw, 3vw, 1.5rem);
}

.p3{
  font-size: clamp(.5vw, 2vw, 1rem);
}

.LeText {
    font-weight:lighter;
}

.MustacheText{
  font-weight:600;
  background-image: conic-gradient(#f12a11 45deg,#f5af19);
  -webkit-background-clip: text;
  color: transparent;
}